<header class="header-nav">
  <div>
    <a href="/">
      <img
        width="80"
        height="50"
        loading="lazy"
        src="{{'nike.png' |  asset_url}}" />
    </a>
  </div>
  <div></div>
  <div></div>
</header>