<section class="more-info">
  <div class="more-info-wrapper">
    {% if section.settings.text != blank %}
      <h1>THE RESOLUTION STARTER PACK</h1>
    {% else %}
      <h1>{{ section.settings.text }}</h1>
    {% endif %}

    {% if section.settings.text2 != blank %}
      <p>THE RESOLUTION STARTER PACK</p>
    {% else %}
      <p>{{ section.settings.text2 }}</p>
    {% endif %}

    <button>Shop Now</button>
  </div>
</section>

{% schema %}
  {
    "name": "More-info",
    "settings": [
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#F4F4F4"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000000"
      }, {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "default text"
      }, {
        "type": "text",
        "id": "text2",
        "label": "Text2",
        "default": "default text"
      }
    ],
    "presets": [
      {
        "name": "more-info"
      }
    ]
  }
{% endschema %}