<section class="more-info">
  <div class="more-info-wrapper"></div>
</section>

{% schema %}
  {
    "name": "More-info",
    "settings": [
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#F4F4F4"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000000"
      }, {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "default text"
      }, {
        "type": "text",
        "id": "text2",
        "label": "Text2",
        "default": "default text"
      }
    ],
    "presets": [
      {
        "name": "more-info"
      }
    ]
  }
{% endschema %}